:root {
  /* Colors */
  --color-beige-500: hsl(23, 6%, 57%);
  --color-beige-100: hsl(30, 36%, 96%);
  --color-slate-600: hsl(234, 25%, 52%);

  --color-grey-900: hsl(252, 7%, 13%);
  --color-grey-500: hsl(0, 0%, 41%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-100: hsl(0, 0%, 95%);

  --color-green: hsl(177, 52%, 32%);
  --color-yellow: hsl(28, 73%, 81%);
  --color-cyan: hsl(190, 52%, 68%);

  --color-navy: hsl(248, 8%, 41%);
  --color-red: hsl(7, 58%, 50%);
  --color-purple: hsl(259, 30%, 56%);

  --color-purple-alt: hsl(288, 29%, 62%);
  --color-turquoise: hsl(180, 16%, 42%);
  --color-brown: hsl(21, 30%, 44%);
  
  --color-magenta: hsl(332, 30%, 44%);
  --color-blue: hsl(205, 48%, 47%);
  --color-navy-grey: hsl(214, 11%, 63%);

  --color-army-green: hsl(83, 20%, 47%);
  --color-gold: hsl(47, 50%, 59%);
  --color-orange: hsl(18, 47%, 52%);

  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --font-primary: 'Public Sans', sans-serif;

  --font-size-preset-1: 32px;
  --font-size-preset-2: 20px;
  --font-size-preset-3: 16px;
  --font-size-preset-4: 14px;
  --font-size-preset-5: 12px;

  --line-height-preset-1: 120%;
  --line-height-preset-2: 120%;
  --line-height-preset-3: 150%;
  --line-height-preset-4: 150%;
  --line-height-preset-5: 150%;

  /* Spacing */
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-250: 20px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-primary);
  background-color: var(--color-beige-100);
  margin: 0;
}

/* Mobile Layout */
#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
}

#sidebar .logo,
#sidebar button {
  display: none;
}

#sidebar {
  box-sizing: border-box;
  overflow: hidden;
  text-wrap: nowrap;
  height: 55px;
  width: 100%;
  background-color: var(--color-grey-900);
  position: fixed;
  bottom: 0;
  border-top-left-radius: var(--spacing-150);
  border-top-right-radius: var(--spacing-150);
}

#sidebar ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: var(--spacing-100) 0 0 0;
  margin: 0;
  box-sizing: border-box;
}

#sidebar ul li a {
  text-decoration: none;
  color: var(--color-grey-300);
  display: flex;
  align-items: center;
  height: 100%;

  span {
    display: none;
  }
}


#sidebar ul li a.active {
  background-color: var(--color-white);
  padding-inline: var(--spacing-200);
  border-top-left-radius: var(--spacing-150);
  border-top-right-radius: var(--spacing-150);

  span {
    font-weight: bold;
    color: var(--color-grey-900);
  }
}

main {
  padding: min(var(--spacing-500), 7%);
  height: 100%;
}

/* Tablet Layout */
@media (min-width: 480px) and (max-width: 1119px) {
  #sidebar {
    height: 75px;
    border-top-left-radius: var(--spacing-150);
    border-top-right-radius: var(--spacing-150);
  }

  #sidebar ul li a {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);

    span {
      display: block;
    }
  }
}

/* Desktop Layout */
@media (min-width: 1120px) {
  #root {
    grid-template-columns: auto 1fr;
  }

  #sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    bottom: unset;
    top: 0;
    position: sticky;
    border-top-left-radius: 0;
    border-top-right-radius: var(--spacing-150);
    border-bottom-right-radius: var(--spacing-150);
    padding-block: var(--spacing-300);
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;

    .logo {
      display: block;
      padding: var(--spacing-200) var(--spacing-400);
    }

    ul {
      padding: var(--spacing-500) 0;
      flex-direction: column;
      justify-content: unset;
      gap: var(--spacing-100);

      li {
        width: 90%;

        a {
          flex-direction: row;
          gap: var(--spacing-300);
          font: inherit;
          padding-block: var(--spacing-200);
          padding-inline: var(--spacing-400);

          span {
            display: block;
          }
        }

        a.active {
          border-top-left-radius: 0;
          border-bottom-right-radius: var(--spacing-150);
          padding-block: var(--spacing-200);
          padding-inline: var(--spacing-400);
        }
      }
    }

    button {
      display: block;
      position: absolute;
      bottom: 5rem;
      width: 100%;
      background: none;
      border: none;
      color: var(--color-grey-300);
      display: flex;
      align-items: center;
      gap: var(--spacing-400);
      font: inherit;
      cursor: pointer;
      padding-inline: var(--spacing-400);
    }
  }

  #sidebar.close {
    width: 90px;

    ul li a span {
      display: none;
    }
  }
}