:root {
  /* Colors */
  --color-beige-500: hsl(23, 6%, 57%);
  --color-beige-100: hsl(30, 36%, 96%);
  --color-slate-600: hsl(234, 25%, 52%);

  --color-grey-900: hsl(252, 7%, 13%);
  --color-grey-500: hsl(0, 0%, 41%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-100: hsl(0, 0%, 95%);

  --color-green: hsl(177, 52%, 32%);
  --color-yellow: hsl(28, 73%, 81%);
  --color-cyan: hsl(190, 52%, 68%);

  --color-navy: hsl(248, 8%, 41%);
  --color-red: hsl(7, 58%, 50%);
  --color-purple: hsl(259, 30%, 56%);

  --color-purple-alt: hsl(288, 29%, 62%);
  --color-turquoise: hsl(180, 16%, 42%);
  --color-brown: hsl(21, 30%, 44%);
  
  --color-magenta: hsl(332, 30%, 44%);
  --color-blue: hsl(205, 48%, 47%);
  --color-navy-grey: hsl(214, 11%, 63%);

  --color-army-green: hsl(83, 20%, 47%);
  --color-gold: hsl(47, 50%, 59%);
  --color-orange: hsl(18, 47%, 52%);

  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --font-primary: 'Public Sans', sans-serif;

  --font-size-preset-1: 32px;
  --font-size-preset-2: 20px;
  --font-size-preset-3: 16px;
  --font-size-preset-4: 14px;
  --font-size-preset-5: 12px;

  --line-height-preset-1: 120%;
  --line-height-preset-2: 120%;
  --line-height-preset-3: 150%;
  --line-height-preset-4: 150%;
  --line-height-preset-5: 150%;

  /* Spacing */
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-250: 20px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-beige-100);
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

aside {
  grid-row: 2/3;
  background-color: var(--color-grey-900);
  color: var(--color-white);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
  padding-inline: var(--spacing-150);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top-left-radius: var(--spacing-150);
  border-top-right-radius: var(--spacing-150);
}

.sidebar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar-tabs a {
  text-decoration: none;
  color: var(--color-grey-300);
  font-size: var(--font-size-preset-3);
}

/* .sidebar-tabs a::after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: var(--color-green);
} */

.sidebar-tab {
  padding-block: var(--spacing-150);
  padding-inline: var(--spacing-300);
  border-top-left-radius: var(--spacing-150);
  border-top-right-radius: var(--spacing-150);
}

.sidebar-tab.active {
  background-color: var(--color-beige-100);
}

.sidebar-tab.active .tab-name {
  color: var(--color-grey-900);
  font-weight: 900;
}

.sidebar-tab img {
  font-size: var(--spacing-250);
}

.sidebar-tabs .tab-name {
  display: none;
}

.sidebar-tabs .logo {
  display: none;
}

.sidebar-tabs .tab-button {
  display: none;
  align-items: center;
  gap: var(--spacing-150);
  padding-inline: var(--spacing-300);
}

.sidebar-tabs .tab-button span {
  font-size: var(--font-size-preset-3);
  color: var(--color-grey-100);
}


@media (min-width: 768px) {
  aside {
    height: 5rem;
  }

  .sidebar-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);
  }

  .sidebar-tabs .tab-name {
    display: block;
  }
}

@media (min-width: 1140px) {
  .layout {
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
  }

  aside {
    grid-row: 1/2; /* Ensure the aside element spans the correct rows */
    grid-column: 1/2; /* Set aside to be in the first column */
    position: static; /* Remove the fixed positioning for desktop layout */
    height: auto; /* Let it adapt based on content height */
    width: auto; /* Let it adapt to grid width */
    border-top-left-radius: 0;
    border-bottom-right-radius: var(--spacing-150);
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-100) 0;
  }

  .sidebar-tabs {
    flex-direction: column;
  }

  .sidebar-tabs .logo {
    display: block;
  }

  .sidebar-tabs .tab-name {
    display: block;
  }

  .sidebar-tabs .tab-button {
    display: inline-flex;
  }

  main {
    grid-column: 2/3;
  }

  .sidebar-tab {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-150);
    border-top-left-radius: 0;
    border-bottom-right-radius: var(--spacing-150);
  }
}